<div class="container-fluid">
<div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4"><h1>预约安装平台</h1></div>
    <div class="col-md-4"></div>
  </div>
<%= form_for(user) do |f| %>
  <% if user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <label for="">姓名</label>
    <%= f.text_field :name, class: 'form-control' %>
  </div>
  <div class="form-group">
    <label for="">联系电话</label>
    <%= f.text_field :phone, class: 'form-control' %>
  </div>
  <div class="form-group">
    <label for="">安装地址</label>
    <div data-toggle="distpicker" id="dist">
      <%= f.select(:province, [], {include_blank: '--选择省--'},{class: "form-control", "data-province": user.province}) %>
      <%= f.select(:city, [], {include_blank: '--选择市--'},{class: "form-control","data-city": user.city}) %>
      <%= f.select(:district, [], {include_blank: '--选择区--'},{class: "form-control","data-district": user.district}) %>
    </div>    
  </div>


<div class="form-group">
  <%= f.text_field :address, class: 'form-control' %>
</div>
  <div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4"><button style="width: 200px" type="submit" class="col-md-4  btn btn-default">提交</button></div>
    <div class="col-md-4"></div>
  </div>

<% end %>
</div>
<script type="text/javascript">
jQuery(document).ready(function() {
  $('#dist').distpicker();
})
</script>